In [32]:
import nltk
import math

In [33]:
dataset = {
    "tfidf_1.txt":open("tfidf_1.txt").read(),
    "tfidf_2.txt":open("tfidf_2.txt").read(),
    "tfidf_3.txt":open("tfidf_3.txt").read(),
    "tfidf_4.txt":open("tfidf_4.txt").read(),
    "tfidf_5.txt":open("tfidf_5.txt").read(),
    "tfidf_6.txt":open("tfidf_6.txt").read(),
    "tfidf_7.txt":open("tfidf_7.txt").read(),
    "tfidf_8.txt":open("tfidf_8.txt").read(),
    "tfidf_9.txt":open("tfidf_9.txt").read(),
    "tfidf_10.txt":open("tfidf_10.txt").read()
}

In [34]:
# Calculate term frequencies
def tf(dataset, file_name):
    text = dataset[file_name]
    tokens = nltk.word_tokenize(text)
    fd = nltk.FreqDist(tokens)
    return fd

In [35]:
# Calculate inverse document frequency
def idf(dataset, term):
    count = [term in dataset[file_name] for file_name in dataset]
    inv_df = math.log(len(count)/sum(count))
    return inv_df

In [36]:
def tfidf(dataset, file_name, n):
    term_scores = {}
    file_fd = tf(dataset,file_name)
    for term in file_fd:
        if term.isalpha():
            idf_val = idf(dataset,term)
            tf_val = tf(dataset, file_name)[term]
            tfidf = tf_val*idf_val
            term_scores[term] = round(tfidf,2)
    return sorted(term_scores.items(), key=lambda x:-x[1])[:n]

In [37]:
tf (dataset,"tfidf_1.txt")

FreqDist({'the': 80, ',': 54, 'and': 46, 'of': 39, '.': 27, 'in': 21, 'war': 12, 'on': 11, 'to': 9, 'United': 9, ...})

In [38]:
tf (dataset,"tfidf_2.txt")

FreqDist({'the': 32, ',': 21, 'and': 15, 'a': 13, '.': 12, 'on': 10, 'of': 8, 'in': 8, 'to': 7, 'for': 7, ...})

In [17]:
tfidf(dataset,"tfidf_1.txt",10)

[('Soviet', 20.72),
 ('Union', 18.42),
 ('Axis', 16.12),
 ('Japan', 11.27),
 ('Germany', 11.27),
 ('Allies', 9.66),
 ('invasion', 9.66),
 ('World', 9.21),
 ('Asia', 9.21),
 ('Africa', 9.21)]

In [40]:
for file_name in dataset:
    print("{0}: \n {1} \n".format(file_name, tfidf(dataset,file_name,20)))

tfidf_1.txt:
 [('Soviet', 20.72), ('Union', 18.42), ('Axis', 16.12), ('Japan', 11.27)]

tfidf_2.txt:
 [('Module', 16.12), ('Armstrong', 13.82), ('lunar', 13.82), ('Apollo', 11.51)]

tfidf_3.txt:
 [('Napoleon', 32.19), ('French', 16.86), ('Coalition', 11.51), ('Prussia', 6.91)]

tfidf_4.txt:
 [('Washington', 25.33), ('President', 6.44), ('Continental', 4.82), ('presided', 4.61)]

tfidf_5.txt:
 [('Newton', 23.03), ('scientists', 6.91), ('motion', 4.83), ('mathematician', 4.61)]

tfidf_6.txt:
 [('Revolution', 21.67), ('French', 15.65), ('privileges', 6.91), ('central', 6.91)]

tfidf_7.txt:
 [('Leonardo', 18.42), ('Vinci', 9.21), ('painting', 6.91), ('Piero', 4.61)]

tfidf_8.txt:
 [('Titanic', 18.42), ('passengers', 11.51), ('maritime', 9.21), ('safety', 9.21)]

tfidf_9.txt:
 [('Rockefeller', 23.03), ('business', 6.91), ('Standard', 6.91), ('Oil', 6.91)]

tfidf_10.txt:
 [('Tesla', 13.82), ('electrical', 6.44), ('wireless', 6.44), ('mechanical', 4.61)]